# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# macOS
.DS_Store

# Thumbnails
.thumbs

# Build artifacts
build/
dist/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak

# misc
*.sublime-project
*.sublime-workspace
*.history

# For Plotly.js data, if externalized
*.json

